

<div class="p+" flex-container="column" flex-align="space-between center" style="height: 450px">
   <div id="direct_upload" 
    ngf-drop="uploadFiles($files)"
    ngf-drag-over-class="dragOverClass($event)"
    ng-model="files"
    ng-multiple="true">
    <h1>New Photo</h1>
    <h2>Direct upload from the browser with Angular File Upload</h2>
    <p>You can also drag and drop an image file into the dashed area.</p>
    <form>
        <div class="form_line">
            <label path="title">Title:</label>
            <div class="form_controls">
                <input type="text" class="form-control" placeholder="Title" ng-model="title" />
            </div>
        </div>
        <div class="form_line">
            <label>Image:</label>
            <div class="form_controls">
                <div class="upload_button_holder">
                    <div href="#" class="upload_button" ngf-select="uploadFiles($files)" multiple title="upload" resetOnClick="true" >Upload</div>
                </div>
                
            </div>
        </div>
    </form>
    <h2>Status</h2>
    <div class="file" ng-repeat="file in files">
        <h3>{{file.name}} {{f.$error}} {{f.$errorParam}}</h3>
        <div class="status">{{file.status}}</div>
        <div class="progress-bar">
          <div class="progress" style="width: {{file.progress}}%" ng-init="progress=0"></div>
        </div>
        <div class="form_line">
            <div class="form_controls">
                <div class="preview">
                    <img ngf-src="file.result.url || file">
                </div>
            </div>
        </div>
        <div class="info">
          <table>
            <tr ng-repeat="(key, value) in file.result">
              <td> {{key}} </td> <td> {{ value }} </td>
            </tr>
          </table>
        </div>
    </div>
   </div>
   <a href="/files-list" class="back_link">Back to list</a>
</div>



<div class=" p+"  flex-container="column" flex-align="space-between center" flex-column="12">
        <div flex-container="row" flex-gutter="12" flex-wrap infinite-scroll='reddit.nextPage()' infinite-scroll-disabled='reddit.busy' infinite-scroll-distance='1'>
             <div flex-item="2" ng-repeat="photo in reddit.items | orderBy:'_id':true">
                <div>
                  <strong>{{$index+1}}. </strong> {{photo.title || '-------'}}
                </div>
               <cl-image public-id="{{photo.public_id}}" class="thumbnail inline" crop="fill" height="150" width="150" radius="10" format="jpg"/>
             </div>
         </div>
</div>






