<div id="posterframe">
  <!-- This will render the fetched Facebook profile picture using Cloudinary according to the
  requested transformations. This also shows how to chain transformations -->
  <cl-image public-id="officialchucknorrispage" type="facebook" angle="20">
    <cl-transformation format="png" height="95" width="95" crop="thumb" gravity="face" effect="sepia" radius="20"/>
  </cl-image>
</div>

<h1>Welcome!</h1>

<p>
  This is the main demo page of the PhotoAlbum sample AngularJS application of Cloudinary.<br />
  Here you can see all images you have uploaded to this application and find some information on how
  to implement your own AngularJS application storing, manipulating and serving your photos using Cloudinary!
</p>

<p>
  All of the images you see here are transformed and served by Cloudinary.
  For instance, the logo and the poster frame.
  They are both generated in the cloud using Cloudinary functions.
  These two pictures weren't even have to be uploaded to Cloudinary, they are retrieved by the service, transformed, cached and distributed through a CDN.
</p>

<h1>Your Photos</h1>

<!--
<div infinite-scroll='reddit.nextPage()' infinite-scroll-disabled='reddit.busy' infinite-scroll-distance='1'>
    <div ng-repeat='photo in reddit.items'>
      <h2>{{photo.title}}</h2>
      <a cl-href="{{photo.public_id}}" format="jpg" target="_blank">
        <cl-image public-id="{{photo.public_id}}" class="thumbnail inline" width="150" height="150" crop="fit" quality="80" format="jpg"/>
      </a>
      <hr>
    </div>
    <div ng-show='reddit.busy'>Loading data...</div>
</div> -->

<!--
<div infinite-scroll='reddit.nextPage()' infinite-scroll-disabled='reddit.busy' infinite-scroll-distance='1'>
    <div ng-repeat='item in reddit.items'>
      <span class='score'>{{item.score}}</span>
      <span class='title'>
        <a ng-href='{{item.url}}' target='_blank'>{{item.title}}</a>
      </span>
      <small>by {{item.author}} -
        <a ng-href='http://reddit.com{{item.permalink}}' target='_blank'>{{item.num_comments}} comments</a>
      </small>
      <div style='clear: both;'></div>
    </div>
    <div ng-show='reddit.busy'>Loading data...</div>
  </div>
-->


<input type="number" name="numero" ng-model="inputprueba"><button ng-click="agregar_input()">Agregar</button>

<div ng-repeat="prueba1 in prueba_demo">
  {{prueba1.numero}}<br>
</div>
<div class="actions">
  <a class="upload_link" href="/files-create">Add photo with Angular File Upload</a>
</div>

<div class="photos">
  <p ng-if="photos.length === 0 || !photos">
      No photos were added yet.
  </p>

<div infinite-scroll='reddit.nextPage()' infinite-scroll-disabled='reddit.busy' infinite-scroll-distance='1'>
  <div ng-repeat="photo in reddit.items | orderBy:'_id':true">
    <h2>{{photo.title}}</h2>
    <a cl-href="{{photo.public_id}}" format="jpg" target="_blank">
      <cl-image public-id="{{photo.public_id}}" class="thumbnail inline" width="150" height="150" crop="fit" quality="80" format="jpg"/>
    </a>
   <div class="less_info">
      <button class="toggle_info" style="cursor: help" ng-click="shown=true" ng-init="shown=false" ng-show="shown === false">Show transformations</button>
    </div>
    <div class="more_info" ng-show="shown === true">
      <button class="toggle_info" ng-click="shown=false">Hide transformations</button>
      <table class="thumbnails">
        <tr>
          <td>
            <div class="thumbnail_holder">
              <cl-image public-id="{{photo.public_id}}" class="thumbnail inline" crop="fill" height="150" width="150" radius="10" format="jpg"/>
            </div>
            <table class="info">
              <tr><td>crop</td><td>fill</td></tr>
              <tr><td>width</td><td>150</td></tr>
              <tr><td>height</td><td>150</td></tr>
              <tr><td>radius</td><td>10</td></tr>
            </table>
            <br/>
          </td>
          <td>
            <div class="thumbnail_holder">
              <cl-image public-id="{{photo.public_id}}" class="thumbnail inline" crop="scale" height="150" width="150" format="jpg"/>
            </div>
            <table class="info">
              <tr><td>crop</td><td>scale</td></tr>
              <tr><td>width</td><td>150</td></tr>
              <tr><td>height</td><td>150</td></tr>
            </table>
            <br/>
          </td>
          <td>
            <div class="thumbnail_holder">
              <cl-image public-id="{{photo.public_id}}" class="thumbnail inline" crop="fit" height="150" width="150" format="jpg"/>
            </div>
            <table class="info">
              <tr><td>crop</td><td>fit</td></tr>
              <tr><td>width</td><td>150</td></tr>
              <tr><td>height</td><td>150</td></tr>
            </table>
            <br/>
          </td>
          <td>
            <div class="thumbnail_holder">
              <cl-image public-id="{{photo.public_id}}" class="thumbnail inline" crop="thumb" gravity="face" height="150" width="150" format="jpg"/>
            </div>
            <table class="info">
              <tr><td>crop</td><td>thumb</td></tr>
              <tr><td>gravity</td><td>face</td></tr>
              <tr><td>width</td><td>150</td></tr>
              <tr><td>height</td><td>150</td></tr>
            </table>
            <br/>
          </td>
          <td>
            <div class="thumbnail_holder">
              <cl-image public-id="{{photo.public_id}}" class="thumbnail inline" angle="20" format="jpg">
                <cl-transformation height="150" width="150" crop="fill" gravity="north" effect="sepia" radius="20"/>
              </cl-image>
            </div>
            <table class="info">
              <tr><td>crop</td><td>fill</td></tr>
              <tr><td>effect</td><td>sepia</td></tr>
              <tr><td>gravity</td><td>north</td></tr>
              <tr><td>width</td><td>150</td></tr>
              <tr><td>height</td><td>150</td></tr>
              <tr><td>then</td><td></td></tr>
              <tr><td>angle</td><td>20</td></tr>
            </table>
            <br/>
          </td>
      </tr>
      </table>
    </div>
  </div>
  <div ng-show='reddit.busy'>Loading data...</div>
</div>


  



  <div class="note">
    Take a look at our documentation of <a href="http://cloudinary.com/documentation/image_transformations" target="_blank">Image Transformations</a> for a full list of supported transformations.
  </div>
</div>
