doctype html
html
  head
    title title
    link(rel='stylesheet', href='/bower_components/lumx/dist/lumx.css')
    link(rel='stylesheet', href='/bower_components/angular-toastr/dist/angular-toastr.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,700')

	script(src="/bower_components/socket.io-client/socket.io.js")
	script(src="/bower_components/jquery/dist/jquery.js")
	script(src="/bower_components/angular/angular.js")
	script(src="/bower_components/angular-animate/angular-animate.js")
  body
    block content
    block scripts
	  script(src="/bower_components/socket.io-client/socket.io.js")
	  script(src="/bower_components/jquery/dist/jquery.js")
	  script(src="/bower_components/angular/angular.js")
	  script(src="/bower_components/angular-animate/angular-animate.js")