doctype
html
  head
    title #{title} - My Site
    link(rel='stylesheet', href='bower_components/lumx/dist/lumx.css')
    link(rel='stylesheet', href='/bower_components/angular-toastr/dist/angular-toastr.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,700')
  body
    header
      h1 My Site
    .container
      .main-content
        block content
      .sidebar
        block sidebar
    footer
      p Running on node with Express, Jade and Stylus