<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" ng-app="App" lang="es"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" ng-app="App" lang="es"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" ng-app="App" lang="es"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" ng-app="App" lang="es"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>MEAN WEB APP | Web-Out S.A {{ getSetting('appName') }}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <base href="/">
  <!-- build:css assets/css/vendor.min.css -->
    <link rel="stylesheet" href="/bower_components/lumx/dist/lumx.css">
    <link rel="stylesheet" href="/bower_components/angular-toastr/dist/angular-toastr.css" />
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
  <!-- endbuild -->
  <!-- build:css assets/css/style.min.css -->
    <link rel="stylesheet" href="/styles/main.css">
  <!-- endbuild -->
  <!-- build:js assets/js/vendor.min.js -->
    <script src="/bower_components/socket.io-client/socket.io.js"></script>
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-animate/angular-animate.js"></script>
    <script src="/bower_components/angular-messages/angular-messages.js"></script>
    <script src="/bower_components/angular-resource/angular-resource.js"></script>
    <script src="/bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="/bower_components/angular-route/angular-route.js"></script>
    <!-- endbuild -->
    <!-- build:js assets/js/vendor_one.min.js -->
    <script src="/bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="/bower_components/angular-mocks/angular-mocks.js"></script>
    <script src="/bower_components/angular-ui-select/dist/select.min.js"></script>
    <script src="/bower_components/angular-gettext/dist/angular-gettext.js"></script>
    <script src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/bower_components/angular-toastr/dist/angular-toastr.tpls.js"></script>
    <script src="/bower_components/satellizer/dist/satellizer.js"></script>
    <script src="/bower_components/velocity/velocity.js"></script>
    <script src="/bower_components/moment/min/moment-with-locales.js"></script>
    <!-- endbuild -->
    <!-- build:js assets/js/vendor_two.min.js -->
    <script src="/bower_components/lumx/dist/lumx.js"></script>
    <script src="/bower_components/angular-socket-io/socket.js"></script>
    <script src="/bower_components/ngInfiniteScroll/build/ng-infinite-scroll.min.js"></script>
    <script src="/bower_components/lodash/lodash.js"></script>
    <script src="/bower_components/cloudinary-core/cloudinary-core.js"></script>
    <!-- angular file upload -->
    <script src="/bower_components/ng-file-upload/ng-file-upload-shim.js"></script>
    <script src="/bower_components/cloudinary_ng/js/angular.cloudinary.js"></script>
    <!-- angular file upload -->
    <script src="/bower_components/ng-file-upload/ng-file-upload.js"></script>
   <!-- endbuild -->

   <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-88840800-1', 'auto');
  ga('send', 'pageview');
  </script>

</head>
<body>
     <div class="header" ui-view="header"></div>
     <div ui-view="main" class="p+"></div>
     <!--<div ui-view></div>-->
     <div ui-view="footer"></div>
     
 <!-- <div class="header" ui-view="header"></div>


    <div class="app">
        <div class="app__wrapper">
            <div class="app__sidebar" ui-view="sidebar"></div>
            <div class="app__main" ui-view="main"></div>
        </div>
    </div>


<div class="p+" flex-container="row" flex-column="16" flex-gutter="24">
    <div flex-item="3"><div class="p+"> 
        <div ui-view="filters"></div> 
     </div></div>
    <div flex-item="13"><div class="p+ ">
          <div ui-view></div>
          <div ui-view="main"></div>
     </div></div>

</div> -->


    <!-- build:js assets/js/app.min.js -->
      <script src="/scripts/app.js"></script>
      <script src="/scripts/routes.js"></script>
      <script src="/scripts/translations.js"></script>
      <script src="/scripts/config/settings.config.js"></script>
      <script src="/scripts/controllers/home.js"></script>
      <script src="/scripts/controllers/404.js"></script>
      <script src="/scripts/controllers/navbar.js"></script>
    <!-- endbuild -->

    <!-- build:js assets/js/modules/modules.min.js -->
      <!-- ADMIN DASHBOARD MODULE-->
      <script src="/modules/admin/app.admin.js"></script>
      <script src="/modules/admin/config/admin.routes.js"></script>
      <!-- OFFICE MODULE-->
      <script src="/modules/offices/app.offices.js"></script>
      <script src="/modules/offices/controllers/office.ctrl.js"></script>
      <script src="/modules/offices/controllers/officeUpdate.ctrl.js"></script>

      <script src="/modules/offices/config/offices.routes.js"></script>
      <script src="/modules/offices/services/offices.js"></script>
      <!-- UPLOAD MODULE-->
      <script src="/modules/upload/app.upload.js"></script>
      <script src="/modules/upload/config/upload.config.js"></script>
      <script src="/modules/upload/config/upload.routes.js"></script>
      <script src="/modules/upload/services/upload.service.js"></script>
      <script src="/modules/upload/controllers/Upload.ctrl.js"></script>
      <script src="/modules/upload/controllers/UploadLoad.ctrl.js"></script>
      <!--USER MODULE -->
      <script src="/modules/users/app.users.js"></script>
      <script src="/modules/users/controllers/login.ctrl.js"></script>
      <script src="/modules/users/controllers/signup.ctrl.js"></script>
      <script src="/modules/users/controllers/logout.ctrl.js"></script>
      <script src="/modules/users/controllers/profile.ctrl.js"></script>
      <script src="/modules/users/controllers/user.ctrl.js"></script>
      <script src="/modules/users/directives/login.js"></script>
      <script src="/modules/users/directives/register.js"></script>
      <script src="/modules/users/directives/passwordMatch.js"></script>
      <script src="/modules/users/directives/passwordStrength.js"></script>
      <script src="/modules/users/services/account.js"></script>
      <script src="/modules/users/config/users.config.js"></script>
      <script src="/modules/users/config/users.routes.js"></script>
    <!-- endbuild -->
</body>
</html>
