<div class="container">
	<form class="ui form" method="post" ng-submit="createOffice()" name="createForm">
	  <div class="field">
	    <lx-text-field lx-label="Code">
                <input type="text" ng-model="OfficeForm.code"  required="">
        </lx-text-field>

	     <lx-text-field lx-label="Name">
                <input type="text" ng-model="OfficeForm.name"  required="">
        </lx-text-field>

	    
	  </div>

	<!--  <select class="ui search selection dropdown" id="search-select">
		  <option value="">State</option>
		  <option value="{{office._id}}" ng-model="OfficeForm.parent" ng-repeat="office in offices">{{office.name}}</option>
	  </select>-->


<lx-select ng-model="OfficeForm.parent"
               lx-allow-clear="true"
               lx-choices="offices"
               lx-display-filter="true"
               lx-label="Oficina"
               >
        <lx-select-selected>
           {{ $selected.name }}
        </lx-select-selected>
 
        <lx-select-choices>
            {{ $choice.name }}
        </lx-select-choices>
 </lx-select>

	  <br><br>
	  <button class="btn btn--m btn--green btn--raised" type="submit">Guardar</button>
	</form>
</div>

<script type="text/javascript">
	
</script>


