<div class="container">
	<form class="ui form" method="post" ng-submit="updateOffice()" name="createForm">



	    <lx-text-field lx-label="Code">
                <input type="text" ng-model="office.code"  required="">
        </lx-text-field>

	     <lx-text-field lx-label="Name">
                <input type="text" ng-model="office.name"  required="">
        </lx-text-field>



    <lx-select ng-model="selectModel.selectedPerson"
	               lx-allow-clear="true"
	               lx-choices="offices_list"
	               lx-display-filter="true"
	               lx-fixed-label="true"
	               lx-label="Lorem Ipsum"
	               ng-change="selectCallback(newValue, oldValue)"
	               >
	        <lx-select-selected>
	            {{ $selected.name }} 
	        </lx-select-selected>
	 
	        <lx-select-choices>
	            {{ $choice.name }}
	        </lx-select-choices>
	    </lx-select>


	  <button class="ui button primary" type="submit">Guardar</button>
	</form>
</div>

<script type="text/javascript">
	//$('#search-select').dropdown();
	//$('.ui.dropdown').dropdown();
</script>