<!-- Up direction -->
    <lx-fab lx-direction="up">
        <lx-fab-trigger>
            <lx-button lx-size="xl" lx-type="fab" lx-tooltip="Add" lx-tooltip-position="left">
                <i class="mdi mdi-android"></i>
                <i class="mdi mdi-plus"></i>
            </lx-button>
        </lx-fab-trigger>
 
        <lx-fab-actions>
            <lx-button lx-size="l" lx-color="black" lx-type="fab" lx-tooltip="Delete" lx-tooltip-position="left">
                <i class="mdi mdi-delete"></i>
            </lx-button>
 
            <lx-button lx-size="l" lx-color="black" lx-type="fab" lx-tooltip="Archive" lx-tooltip-position="left">
                <i class="mdi mdi-package"></i>
            </lx-button>
 
            <lx-button lx-size="l" lx-color="black" lx-type="fab" lx-tooltip="Edit" lx-tooltip-position="left">
                <i class="mdi mdi-pencil"></i>
            </lx-button>
        </lx-fab-actions>
    </lx-fab>
 <table class="data-table">
        <thead>
            <tr>
                <th></th>
                <th>Dessert</th>
                <th>Calories</th>
                <th class="data-table__sortable-cell data-table__sortable-cell--desc">Carbs (g)</th>

            </tr>
        </thead>

       <tbody>
        <tr ng-repeat="office in offices">
          <td class="collapsing">
           <lx-checkbox ng-model="vm.checkboxes.basic.checked">Checkbox</lx-checkbox>
          </td>
          <td>{{office.name}}</td>
          <td>{{office.code}}</td>
          <td>{{office.parent.name}}</td>
          <td><a href="#/office/{{office._id}}/edit" ui-sref-active="active"><i class="edit icon">ee</i></a> <i class="trash outline icon"></i>  </td>
        </tr>

      </tbody>
    </table>

            <div class="ui right floated small secondary labeled icon button">
          <i class="user icon"></i> <a href="#/office-create">Add office</a>
        </div>