 <style type="text/css">
    body {
      background-color: #DADADA;
    }
    body > .grid {
      height: 100%;
    }
    .image {
      margin-top: -100px;
    }
    .column {
      max-width: 450px;
    }
  </style>
<div class="ui middle aligned center aligned grid">
  <div class="column">
    <h2 class="ui teal image header">
      <img src="images/logo.png" class="image">
      <div class="content">
        Log-in to your account
      </div>
    </h2>
    <form class="ui large form"  method="post" ng-submit="login()" name="loginForm">
      <div class="ui segment">
        <div class="field">
          <div class="ui left icon input">
            <i class="at icon"></i>
            <input type="text" class="form-control" name="email" ng-model="user.email" placeholder="Email" required autofocus>
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" name="password" ng-model="user.password" placeholder="Password" required>
          </div>
        </div>
        <button type="submit" class="ui fluid large teal submit button" ng-disabled="disabled">Login</button>
      </div>
      <div class="ui error message"></div>
    </form>
    <div class="ui message">
          <p class="text-center text-muted">
            <small>Don't have an account yet? <a href="/#/signup">Sign up</a></small>
          </p>
    </div>
    <div class="ui message">
      <button class="btn btn-block btn-facebook" ng-click="authenticate('facebook')">
          <i class="facebook icon"></i> Sign in with Facebook
        </button>
        <button class="btn btn-block btn-twitter" ng-click="authenticate('twitter')">
          <i class="twitter icon"></i> Sign in with Twitter
        </button>
    </div>
  </div>
</div>
