<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">Profile</div>
    <div class="panel-body">
      <legend><i class="ion-clipboard"></i> Edit My Profile</legend>
      <form method="post" ng-submit="updateProfile()">
        <div class="form-group">
          <label class="control-label">Profile Picture</label>
          <img class="profile-picture" ng-src="{{user.picture || 'http://placehold.it/100x100'}}">
        </div>
        <div class="form-group">
          <label class="control-label"><i class="ion-person"></i> Display Name</label>
          <input type="text" class="form-control" ng-model="user.displayName" />
        </div>
        <div class="form-group">
          <label class="control-label"><i class="ion-at"></i> Email Address</label>
          <input type="email" class="form-control" ng-model="user.email" />
        </div>
        <div class="form-group">
          <div class="ui checked checkbox" ng-repeat="role in roles">
            <input type="checkbox" checklist-model="user.roles" checklist-value="role"> 
            <label>{{role}}</label>
          </div>
        </div>



        <div class="ui toggle checkbox">
           <input ng-model="user.status" checked="{{user.status}}" type="checkbox">
           <label>Estado</label>
        </div>

        <button class="btn btn-lg btn-success">Update Information</button>


      </form>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">Accounts</div>
    <div class="panel-body">
      <legend><i class="ion-link"></i> Linked Accounts</legend>
      <div class="btn-group-vertical">
        <button class="btn btn-sm btn-danger" ng-if="user.facebook" ng-click="unlink('facebook')">
          <i class="ion-social-facebook"></i> Unlink Facebook Account
        </button>
        <button class="btn btn-sm btn-primary" ng-if="!user.facebook" ng-click="link('facebook')">
          <i class="ion-social-facebook"></i> Link Facebook Account
        </button>

        

        <button class="btn btn-sm btn-danger" ng-if="user.twitter" ng-click="unlink('twitter')">
          <i class="ion-social-twitter"></i> Unlink Twitter Account
        </button>
        <button class="btn btn-sm btn-primary" ng-if="!user.twitter" ng-click="link('twitter')">
          <i class="ion-social-twitter"></i> Link Twitter Account
        </button>

        
      </div>
    </div>
  </div>
</div>
