<h1>Yo!</h1>

<div ng-controller="logoutController">
  <a ng-click='logout()' class="btn btn-default">Logout</a>
</div>
<div class='ui one column doubling stackable grid container'>
   <div class="column">
      <div ng-controller='SocketCtrl'>
     <div class="ui icon message">
      <i class="inbox icon"></i>
      <div class="content">
        <div class="header">Angular Chatter </div>
           You are known as: <span ng-bind="nickName"></span>.<br/>Change your nickname with <code>/nick [yourNewNick]PRUEBA</code>
      </div>
    </div>
        <div class='row'>
          <div class='clase-aqui'>
            <chat-box></chat-box>
          </div>
        </div>
        <div class='row'>
          &nbsp;
        </div>
        <div class='row'>
         <div class='clase-aqui'>
            <form role='form' class="ui large form" novalidate name='form'>
              <div class='ui left icon input large fluid '>
              <i class="user icon"></i>
                <input type='text' style='width: 80%'
                required
                ng-max='50'
                ng-model='message',
                placeholder='Mensaje aqui',
                focus>
                <button class='ui  large teal submit button'
                  ng-enable='form.$valid'
                  ng-click="sendMessage(message)">Send!</button>
              </div>
            </form>
          </div>
          <div class="ui message">
            <div class="ui toggle checkbox">
              <input type="checkbox" name="public">
              <label>Subscribe to weekly newsletter</label>
            </div>
            </div>
        </div>
       </div>
    </div>
</div>