  <style type="text/css">
    body {
      background-color: #DADADA;
    }
    body > .grid {
      height: 100%;
    }
    .image {
      margin-top: -100px;
    }
    .column {
      max-width: 450px;
    }
  </style>
<div class="ui middle aligned center aligned grid">
  <div class="column">
    <h2 class="ui teal image header">
      <img src="assets/images/logo.png" class="image">
      <div class="content">
        Log-in to your account
      </div>
    </h2>
    <form class="ui large form" ng-submit="login()">
      <div class="ui stacked segment">
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="text" class="form-control" name="username" ng-model="loginForm.username" required placeholder="Username">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" name="password" ng-model="loginForm.password" placeholder="Password">
          </div>
        </div>
        <button type="submit" class="ui fluid large teal submit button" ng-disabled="disabled">Login</button>
      </div>
      <div class="ui error message"></div>
    </form>
    <div class="ui message">
      New to us? <a href="#register">Sign Up</a>
    </div>
  </div>
</div>