  <style type="text/css">
    body {
      background-color: #DADADA;
    }
    body > .grid {
      height: 100%;
    }
    .image {
      margin-top: -100px;
    }
    .column {
      max-width: 450px;
    }
  </style>

<div class="ui middle aligned center aligned grid">
  <div class="column">
    <h2 class="ui teal image header">
      <img src="assets/images/logo.png" class="image">
      <div class="content">
        Register
      </div>
    </h2>
    <div ng-show="error" class="alert alert-danger">{{errorMessage}}</div>
    <form class="ui large form" ng-submit="register()">
      <div class="ui stacked segment">
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="text" name="username" ng-model="registerForm.username" required placeholder="Username">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" name="password" ng-model="registerForm.password" placeholder="Password">
          </div>
        </div>
        <button  class="ui fluid large teal submit button" ng-disabled="disabled">Register</button>
      </div>
      <div class="ui error message"></div>
    </form>
    <div class="ui message">
      <a ng-href="#login">Login</a>
    </div>
  </div>
</div>