<h1 class="text-center">Iniciar sesión</h1>
<div class="p+" flex-container="column" flex-align="space-between center" flex-column="12">
  <div class="p+ bgc-grey-100">
      <div flex-item>
          <form method="post" ng-submit="login()" name="loginForm">
              <lx-text-field lx-label="Email" lx-fixed-label="true" lx-icon="email">
                  <input type="email" name="email" ng-model="user.email" required autofocus>
              </lx-text-field>
              <lx-text-field lx-label="Contraseña" lx-fixed-label="true" lx-icon="key">
                  <input type="password" name="password" ng-model="user.password" required>
              </lx-text-field>
              <div class="p+">
                 <button type="submit" class="btn--green btn btn--m btn--raised" ng-disabled="loginForm.$invalid"><i class="mdi mdi-login"></i> Iniciar sesión</button>
              </div>
          </form>
      </div>
      <div flex-item>
           <p>
              <small>¿No tiene una cuenta todavía? <a href="/#/signup">Regístrate</a></small>
            </p>
      </div>
      <div flex-item>
           <lx-button lx-type="raised" ng-click="authenticate('facebook')">
              <i class="mdi mdi-facebook"></i> Facebook
            </lx-button>
            <lx-button lx-type="raised" lx-color="blue" ng-click="authenticate('twitter')">
               <i class="mdi mdi-twitter"></i> Twitter
            </lx-button>
          <!--  <lx-button lx-type="raised" lx-color="red" ng-click="authenticate('google')">
              <i class="mdi mdi-google"></i> Sign in with Google
            </lx-button> -->
      </div>
  </div>
</div>

