<style type="text/css"> 
#direct_upload, #direct_upload_jquery {
    border: 4px dashed #ccc;
}
</style>

<h1 class="text-center">Perfil</h1>
<div class="p+" flex-container="column" flex-align="space-between center" flex-column="12">
  <div class="p+ bgc-grey-100">
      <div flex-item>
        <form method="post" ng-submit="updateProfile()">
          <div class="form-group">
            <label class="control-label">Profile Picture</label>
            <img class="profile-picture" ng-src="{{user.picture || 'http://placehold.it/100x100'}}">
          </div>

         <lx-text-field lx-label="Nombre" lx-fixed-label="true" lx-icon="account">
              <input type="text" name="displayName" ng-model="user.displayName" required >
         </lx-text-field>

         <lx-text-field lx-label="Email" lx-fixed-label="true" lx-icon="email">
                  <input type="email" name="email" ng-model="user.email" required >
          </lx-text-field>
          <!--<div class="form-group">
            <div class="ui checked checkbox" ng-repeat="role in roles">
              <input type="checkbox" checklist-model="user.roles" checklist-value="role"> 
              <label>{{role}}</label>
            </div>
          </div>-->
          <lx-switch ng-model="user.status" lx-color="green" class="mt+">Estado</lx-switch>
          <div class="p+">
              <button type="submit" class="btn--green btn btn--m btn--raised" >Update Information</button>  
          </div>
          
        </form>
      </div>

      <div flex-item>
               <div class="panel-body">
      <legend><i class="ion-link"></i> Linked Accounts</legend>
      <div class="btn-group-vertical">

        <button class="btn btn-sm btn-danger" ng-if="user.facebook" ng-click="unlink('facebook')">
          <i class="ion-social-facebook"></i> Unlink Facebook Account
        </button>

         <lx-button lx-type="raised" ng-if="!user.facebook" ng-click="link('facebook')">
          <i class="mdi mdi-facebook"></i> Link Facebook Account
        </lx-button>

        

        <button class="btn btn-sm btn-danger" ng-if="user.twitter" ng-click="unlink('twitter')">
          <i class="ion-social-twitter"></i> Unlink Twitter Account
        </button>
        <lx-button lx-type="raised" lx-color="blue" ng-if="!user.twitter" ng-click="link('twitter')">
           <i class="mdi mdi-twitter"></i> Link Twitter Account
        </lx-button>    
      </div>
    </div>
      </div>
  </div>
</div>