<h1 class="text-center">Regístrate</h1>
<div class="p+" flex-container="column" flex-align="space-between center" flex-column="12">
  <div class="p+ bgc-grey-100">
      <div flex-item>
           <form method="post" ng-submit="signup()" name="signupForm">
              <lx-text-field lx-label="Nombre" lx-fixed-label="true" lx-icon="account">
                  <input type="text" name="displayName" ng-model="user.displayName" required autofocus>
              </lx-text-field>
              <lx-text-field lx-label="Email" lx-fixed-label="true" lx-icon="email">
                  <input type="email" name="email" ng-model="user.email" required>
              </lx-text-field>
              <lx-text-field lx-label="Contraseña" lx-fixed-label="true" lx-icon="account-key">
                  <input type="password" name="password" ng-model="user.password" required>
              </lx-text-field>
              <lx-text-field lx-label="Repetir contraseña" lx-fixed-label="true" lx-icon="account-key">
                  <input type="password" password-match="user.password" name="confirmPassword" ng-model="confirmPassword" required>
              </lx-text-field>
              <div class="help-block text-danger" ng-if="signupForm.confirmPassword.$dirty" ng-messages="signupForm.confirmPassword.$error">
                    <div ng-message="compareTo">Las contraseñas no coinciden.</div>
               </div>
              <div class="p+">
                 <button type="submit" class="btn--green btn btn--m btn--raised" ng-disabled="signupForm.$invalid"><i class="mdi mdi-login"></i> Iniciar sesión</button>
              </div>
          </form>
      </div>
      <div flex-item>
           <p>
              <p class="text-center text-muted">¿Ya tienes una cuenta? <a href="/#/login">Inicia sesión ahora</a></p>
            </p>
      </div>
  </div>
</div>