<div class="toolbar" >
    <div class="toolbar__left mr++">
       

        <div ng-click="togglePalmNav()" class="header-top__palm-nav">
                    <button lx-ripple="" lx-type="icon" lx-color="black" lx-size="l" class="btn btn--l btn--black btn--icon" style="position: relative; overflow: hidden;"><span class="ripple" style="height: 40px; width: 40px; top: 2px; left: -6px;"></span>
                        <i class="mdi mdi-menu ng-scope"></i>
                    </button>
        </div>
    </div>
    <span class="toolbar__label fs-title">Lorem Ipsum</span>

    <div class="toolbar__right">
        <lx-search-filter lx-closed="true">
            <input type="text" ng-model="vm.toolbar">
        </lx-search-filter>

        <lx-dropdown lx-position="right" lx-over-toggle="true">
            <lx-dropdown-toggle>
                <lx-button lx-size="l" lx-color="black" lx-type="icon"><i class="mdi mdi-dots-vertical"></i></lx-button>
            </lx-dropdown-toggle>

            <lx-dropdown-menu>
                <ul>
                    <li><a ui-sref="login" class="dropdown-link">login</a></li>
                    <li><a ui-sref="profile" class="dropdown-link">Profile</a></li>
                    <li><a ui-sref="office-list" class="dropdown-link">Oficinas</a></li>
                    <li class="dropdown-divider"></li>
                    <li><a class="dropdown-link dropdown-link--is-header">Header</a></li>
                    <li><a class="dropdown-link">Separated link</a></li>
                </ul>
            </lx-dropdown-menu>
        </lx-dropdown>
    </div>
</div>