<div class="toolbar bgc-green-300" >
    <div class="toolbar__left mr++">
        <div ng-click="togglePalmNav()" class="header-top__palm-nav">
                    <button lx-ripple="" lx-type="icon" lx-color="black" lx-size="l" class="btn btn--l btn--black btn--icon" style="position: relative; overflow: hidden;"><span class="ripple" style="height: 40px; width: 40px; top: 2px; left: -6px;"></span>
                        <i class="mdi mdi-menu ng-scope"></i>
                    </button>
        </div>
    </div>
    <span class="toolbar__label fs-title">MEAN Files <a target="_blank" href="https://bitbucket.org/WillAcon/mean_web" style="font-size: 16px; text-decoration: none;">&raquo; View source</a></span>

    <div class="toolbar__right">
        <lx-search-filter lx-closed="true">
            <input type="text" ng-model="vm.toolbar">
        </lx-search-filter>

        <lx-dropdown lx-position="right" lx-over-toggle="true">
            <lx-dropdown-toggle>
                <lx-button lx-size="l" lx-color="black" lx-type="icon"><i class="mdi mdi-dots-vertical"></i></lx-button>
            </lx-dropdown-toggle>

            <lx-dropdown-menu>
                <ul>
                    <li><a ui-sref="app.init" class="dropdown-link"><i class="mdi mdi-home"></i> Home</a></li>
                    <li ng-if="!isAuthenticated()"><a ui-sref="app.login" class="dropdown-link"><i class="mdi mdi-login"></i> login</a></li>
                
                    <li ng-if="isAuthenticated()"><a ui-sref="app.profile" class="dropdown-link"><i class="mdi mdi-face-profile"></i> Profile</a></li>
                    <li class="dropdown-divider"></li>
                     <li><a class="dropdown-link dropdown-link--is-header">Option</a></li>
                    <li ng-if="isAuthenticated()"><a ui-sref="app.files-list" class="dropdown-link">Files List</a></li>
                    <li ng-if="isAuthenticated()"><a ui-sref="app.files-create" class="dropdown-link">Files create</a></li>
                    <li ng-if="!isAuthenticated()"><a ui-sref="app.signup" class="dropdown-link"><i class="mdi mdi-account-plus"></i> signup</a></li>

                    
                    <li class="dropdown-divider"></li>
                    <li><a class="dropdown-link dropdown-link--is-header">Option</a></li>
                    <li ng-if="isAuthenticated()"><a ui-sref="app.logout" class="dropdown-link"><i class="mdi mdi-logout-variant"></i> Logout</a></li>
                </ul>
            </lx-dropdown-menu>
        </lx-dropdown>
    </div>
</div>




