<div class="panel-footer text-center">
  <ul class="list-inline">
    <li><i class="ion-star"></i> {{stars | number}} stars</li>
    <li><i class="ion-fork-repo"></i> {{forks | number}} forks</li>
    <li><i class="ion-pull-request"></i> {{issues | number}} issues</li>
  </ul>
</div>