
<!--
<header class="header" ng-controller="NavbarCtrl">
    <div class="header-top">
        <div class="header-top__wrapper">
            <div class="header-top__left">
                <div class="header-top__palm-nav" ng-click="LayoutService.togglePalmNav()">
                    <lx-button lx-size="l" lx-color="black" lx-type="icon">
                        <i class="mdi mdi-menu"></i>
                    </lx-button>
                </div>

                <a ui-sref="app.home" class="header-top__logo">
                    
                </a>
            </div>
            
            <div class="header-top__right">
                <iframe src="https://ghbtns.com/github-btn.html?user=lumapps&repo=lumX&type=star&count=true&size=large" frameborder="0" scrolling="0" width="160px" height="30px"></iframe>

                <a href="https://github.com/lumapps/lumX" target="_blank">
                  
                </a>
            </div>
        </div>
    </div>

    <div class="header-nav">
        <div class="header-nav__wrapper">
            <lx-main-nav lx-context="header"></lx-main-nav>
        </div>
    </div>

    <div class="header-background"></div>
</header>
-->


<div class="toolbar" >
    <div class="toolbar__left mr++">
       

        <div ng-click="togglePalmNav()" class="header-top__palm-nav">
                    <button lx-ripple="" lx-type="icon" lx-color="black" lx-size="l" class="btn btn--l btn--black btn--icon" style="position: relative; overflow: hidden;"><span class="ripple" style="height: 40px; width: 40px; top: 2px; left: -6px;"></span>
                        <i class="mdi mdi-menu ng-scope"></i>
                    </button>
        </div>
    </div>
    <span class="toolbar__label fs-title">Lorem Ipsum</span>

    <div class="toolbar__right">
        <lx-search-filter lx-closed="true">
            <input type="text" ng-model="vm.toolbar">
        </lx-search-filter>

        <lx-dropdown lx-position="right" lx-over-toggle="true">
            <lx-dropdown-toggle>
                <lx-button lx-size="l" lx-color="black" lx-type="icon"><i class="mdi mdi-dots-vertical"></i></lx-button>
            </lx-dropdown-toggle>

            <lx-dropdown-menu>
                <ul>
                    <li><a ui-sref="login" class="dropdown-link">login</a></li>
                    <li><a ui-sref="profile" class="dropdown-link">Profile</a></li>
                    <li><a ui-sref="office-list" class="dropdown-link">Oficinas</a></li>
                    <li class="dropdown-divider"></li>
                    <li><a class="dropdown-link dropdown-link--is-header">Header</a></li>
                    <li><a class="dropdown-link">Separated link</a></li>
                </ul>
            </lx-dropdown-menu>
        </lx-dropdown>
    </div>
</div>


<!--
<div ng-controller="NavbarCtrl"  class="ui  inverted menu">
 <div class="ui container">
 	  <a href="/#/" class="item active">Home </a>
	  <a href="/#/profile" class="item" ng-if="isAuthenticated()">Profile</a>
	  <a class="item">Messages </a>
	  <a class="item">Amigos </a>
	  <div class="ui simple dropdown item">
        Dropdown <i class="dropdown icon"></i>
        <div class="menu">
          <a href="#" class="item">Link Item</a>
          <a href="#" class="item">Link Item</a>
          <div class="divider"></div>
          <div class="header">Header Item</div>
          <div class="item">
            <i class="dropdown icon"></i>
            Sub Menu
            <div class="menu">
              <a href="#" class="item">Link Item</a>
              <a href="#" class="item">Link Item</a>
            </div>
          </div>
          <a href="#" class="item">Link Item</a>
        </div>
      </div>
	  <div class="right menu">
	      <a href="/#/login"  ng-if="!isAuthenticated()" class="item">Login </a>
	      <a href="/#/signup"  ng-if="!isAuthenticated()" class="item">Sign up </a>
	      <a href="/#/logout"  ng-if="isAuthenticated()"class="item">Logout </a>
	  </div>
 </div>
</div>
-->
<div ng-class="{ 'palm-nav--is-open': palmNavIsOpen }" class="palm-nav palm-nav--is-open">
        <a class="palm-nav__logo" ui-sref="app.home" href="/">
            
        </a>

        <div class="palm-nav__main-nav">
            <lx-main-nav lx-context="palm-nav" class="ng-isolate-scope"><ul class="main-nav main-nav--palm-nav">
    <li>
        <lx-main-nav-link lx-sub-nav="/includes/layout/sub-nav/sub-nav-getting-started.html" lx-state="app.getting-started" lx-label="Getting started" lx-context="palm-nav" class="ng-isolate-scope"><div class="main-nav-link">
    <a ui-sref-active="main-nav-link__state--is-active" ui-sref="app.getting-started" ng-click="lxMainNavLink.toggleSubNav($event)" ng-class="{ 'main-nav-link__state--is-open': lxMainNavLink.displaySubNav }" class="main-nav-link__state ng-binding" href="/getting-started">
        Getting started
    </a>

    <!-- ngIf: lxMainNavLink.displaySubNav -->
</div></lx-main-nav-link>
    </li>
    <li>
        <lx-main-nav-link lx-sub-nav="/includes/layout/sub-nav/sub-nav-css.html" lx-state="app.css" lx-label="CSS" lx-context="palm-nav" class="ng-isolate-scope"><div class="main-nav-link">
    <a ui-sref-active="main-nav-link__state--is-active" ui-sref="app.css" ng-click="lxMainNavLink.toggleSubNav($event)" ng-class="{ 'main-nav-link__state--is-open': lxMainNavLink.displaySubNav }" class="main-nav-link__state ng-binding" href="/css">
        CSS
    </a>

    <!-- ngIf: lxMainNavLink.displaySubNav -->
</div></lx-main-nav-link>
    </li>
    <li>
        <lx-main-nav-link lx-sub-nav="/includes/layout/sub-nav/sub-nav-components.html" lx-state="app.components" lx-label="Components" lx-context="palm-nav" class="ng-isolate-scope"><div class="main-nav-link">
    <a ui-sref-active="main-nav-link__state--is-active" ui-sref="app.components" ng-click="lxMainNavLink.toggleSubNav($event)" ng-class="{ 'main-nav-link__state--is-open': lxMainNavLink.displaySubNav }" class="main-nav-link__state ng-binding main-nav-link__state--is-open main-nav-link__state--is-active" href="/components">
        Components
    </a>

    <!-- ngIf: lxMainNavLink.displaySubNav --><!-- ngInclude: lxMainNavLink.subNav --><div ng-include="lxMainNavLink.subNav" ng-if="lxMainNavLink.displaySubNav" class="main-nav-link__sub-nav ng-scope"><ul class="sub-nav ng-scope">
    <li>
        <a ui-sref-active="sub-nav__link--is-active" ui-sref="app.components.button" class="sub-nav__link" href="/components/button">Button</a>
    </li>
    <li>
        <a ui-sref-active="sub-nav__link--is-active" ui-sref="app.components.card" class="sub-nav__link" href="/components/card">Card</a>
    </li>
    <li>
        <a ui-sref-active="sub-nav__link--is-active" ui-sref="app.components.checkbox" class="sub-nav__link" href="/components/checkbox">Checkbox</a>
    </li>
    <li>
        <a ui-sref-active="sub-nav__link--is-active" ui-sref="app.components.data-table" class="sub-nav__link" href="/components/data-table">Data table</a>
    </li>
    <li>
        <a ui-sref-active="sub-nav__link--is-active" ui-sref="app.components.date-picker" class="sub-nav__link" href="/components/date-picker">Date picker</a>
    </li>
    <li>
        <a ui-sref-active="sub-nav__link--is-active" ui-sref="app.components.dialog" class="sub-nav__link" href="/components/dialog">Dialog</a>
    </li>
    <li>
        <a ui-sref-active="sub-nav__link--is-active" ui-sref="app.components.dropdown" class="sub-nav__link sub-nav__link--is-active" href="/components/dropdown">Dropdown</a>
    </li>
    <li>
        <a ui-sref-active="sub-nav__link--is-active" ui-sref="app.components.fab" class="sub-nav__link" href="/components/fab">Floating Action Button</a>
    </li>
    <li>
        <a ui-sref-active="sub-nav__link--is-active" ui-sref="app.components.file-input" class="sub-nav__link" href="/components/file-input">File input</a>
    </li>
    <li>
        <a ui-sref-active="sub-nav__link--is-active" ui-sref="app.components.icon" class="sub-nav__link" href="/components/icon">Icon</a>
    </li>
    <li>
        <a ui-sref-active="sub-nav__link--is-active" ui-sref="app.components.list" class="sub-nav__link" href="/components/list">List</a>
    </li>
    <li>
        <a ui-sref-active="sub-nav__link--is-active" ui-sref="app.components.notification" class="sub-nav__link" href="/components/notification">Notification</a>
    </li>
    <li>
        <a ui-sref-active="sub-nav__link--is-active" ui-sref="app.components.progress" class="sub-nav__link" href="/components/progress">Progress</a>
    </li>
    <li>
        <a ui-sref-active="sub-nav__link--is-active" ui-sref="app.components.radio-button" class="sub-nav__link" href="/components/radio-button">Radio button</a>
    </li>
    <li>
        <a ui-sref-active="sub-nav__link--is-active" ui-sref="app.components.search-filter" class="sub-nav__link" href="/components/search-filter">Search filter</a>
    </li>
    <li>
        <a ui-sref-active="sub-nav__link--is-active" ui-sref="app.components.select" class="sub-nav__link" href="/components/select">Select</a>
    </li>
    <li>
        <a ui-sref-active="sub-nav__link--is-active" ui-sref="app.components.switch" class="sub-nav__link" href="/components/switch">Switch</a>
    </li>
    <li>
        <a ui-sref-active="sub-nav__link--is-active" ui-sref="app.components.tabs" class="sub-nav__link" href="/components/tabs">Tabs</a>
    </li>
    <li>
        <a ui-sref-active="sub-nav__link--is-active" ui-sref="app.components.text-field" class="sub-nav__link" href="/components/text-field">Text field</a>
    </li>
    <li>
        <a ui-sref-active="sub-nav__link--is-active" ui-sref="app.components.toolbar" class="sub-nav__link" href="/components/toolbar">Toolbar</a>
    </li>
    <li>
        <a ui-sref-active="sub-nav__link--is-active" ui-sref="app.components.tooltip" class="sub-nav__link" href="/components/tooltip">Tooltip</a>
    </li>
</ul></div><!-- end ngIf: lxMainNavLink.displaySubNav -->
</div></lx-main-nav-link>
    </li>
</ul></lx-main-nav>
        </div>
    </div>